.allTags{
     display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 50px;
.tags{
  padding: 5px 25px;
  border-radius: 25px;
}
span{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;   
}
}