.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      color: #ff6060;
      margin-bottom: 0;
    }

    .location {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }
    .host {
      display: flex;
      justify-content: flex-end;

      h4 {
        width: 93px;
        height: 52px;
        color: #ff6060;
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50px;
        object-fit: cover;
      }
    }
  }

  .tags{
    background-color: #ff6060;
  }

  .collapse {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
  }
}
